parameters:
    level: 8
    paths:
        - contracts/src
        - kernel/src
        - adapters/src
        - modules
        - apps
        - config
        - tests
    excludePaths:
        - apps/*/vendor
        - modules/*/vendor
    tmpDir: /tmp/phpstan

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
